.Caret
{
	animation: BlinkEmpty 1s infinite;
	background-image: linear-gradient(white, white);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 1px 1.2em;
}

@keyframes BlinkEmpty
{
	20%,
	80%
	{
		background-size: 1px 1.2em;
	}
	50%
	{
		background-size: 0 1.2em;
	}
}
