*
{
	/* TODO: Find a way to customize Firefox scrollbars */
	
	&::-webkit-scrollbar
	{
		@apply bg-gray-500 w-3;
	}
	
	&::-webkit-scrollbar-button
	{
		@apply bg-gray-500 h-3;
	}
	
	&::-webkit-scrollbar-thumb
	{
		@apply bg-gray-500;
	}
	
	&::-webkit-scrollbar-track-piece
	{
		@apply bg-gray-700;
	}
}
